table {
  margin: auto;
  min-width: 450px;
  width: 98%;
}

.add-user-button {
  margin-top: 1vw;
  margin-left: 2vw;
}

.users {
  width: 90%;
  border: 5px solid black;
  margin: auto;
  background-color: lightgrey;
}

