
.nav-link{
  background: white;
  color: black;
}
.nav-link:hover{
  color: green;
}

.ticket-data{
  font-size: 1px;
}

.dropdown{
  margin-right: auto;
}

.navbar{
  display: flex;
}

.drop-button {
  background-color: white;
  border: white;
  margin-top: 11px;


}

