<div class="header">
  <h1 mat-dialog-title> Edit User </h1>
</div>
<div>
  <input [(ngModel)] = "this.username"> <p>Username</p>
  <input [(ngModel)] = "this.password"> <p>New Password (optional)</p>
  <input [(ngModel)] = "this.passwordConfirm"> <p>Confirm New Password (optional)</p>
  <input type="checkbox" [(ngModel)] = "this.is_admin"> <p>Is an Admin (Can Edit/Delete other Users)</p>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between;">
  <button class="btn btn-cancel" style="margin-right:10px;" (click)="cancel()"> Cancel </button>
  <button class="btn" (click)="confirm()"> Finish Editing </button>
</div>
