<!--the actual barcode text box-->
<form class="form" [formGroup]="barcodeForm" (submit)="onSubmit()">
  <mat-form-field class="barcodeReaderField" appearance="standard">
    <mat-label>Item Barcode</mat-label>
    <input matInput placeholder="Scan Barcode" id="barcodeTextBox" formControlName="barcodeText" autocomplete="off">
  </mat-form-field>
</form>

<!--the cart table-->
<table mat-table [dataSource]="cartTableData">

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Item No. </th>
    <td mat-cell *matCellDef="let i=index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="barcode">
    <th mat-header-cell *matHeaderCellDef> Barcode </th>
    <td mat-cell *matCellDef="let item"> {{item.barcode}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let item"> {{item.price/100}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Remove </th>
    <td mat-cell *matCellDef="let i=index;">
      <button mat-icon-button (click)="deleteItem(i)"><mat-icon>remove</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="endTransaction">
  <mat-label class="priceLabel">Total Price: ${{(totalPrice/100).toFixed(2)}}</mat-label>
</div>

<div *ngIf="cart.length != 0" class="endTransaction">
  <button mat-button class="confirmButton" (click)="confirmTransaction()">Proceed to Checkout</button>
</div>
