<div class="header">
  <h1 mat-dialog-title> Add New Store Item </h1>
</div>
<div>
  <p>Barcode</p> <input placeholder = "ex. 000000000000" [(ngModel)] = "this.barcode">
  <p>Name</p> <input placeholder = "ex. Shirt" [(ngModel)] = "this.name">
  <p>Price ($)</p> <input placeholder = "ex. 20.25" [(ngModel)] = "this.price">
  <p>Stock</p> <input placeholder = "ex. 37" [(ngModel)] = "this.stock">
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between;">
  <button class="btn btn-cancel" style="margin-right:10px;" (click)="cancel()"> Cancel </button>
  <button class="btn" (click)="confirm()"> Add Item </button>
</div>
