<div>
  <table mat-table [dataSource]="transactionItemData" class='dialog-table'>

    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef> Barcode </th>
      <td mat-cell *matCellDef="let data">{{data.barcode}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let data">{{data.name}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let data">{{data.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="ppu">
      <th mat-header-cell *matHeaderCellDef> Price per Unit </th>
      <td mat-cell *matCellDef="let data">${{(data.ppu/100).toFixed(2)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<button (click)="close()"> Close </button>


